/* Variables
/* ---------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=League+Spartan:wght@300;400;500;600;700&display=swap');
/* @import url('../../../static/font/OldLondon.woff'); */


:root {
    /* Colores – Soft / Smart / Modern */
    --color-primary: #8fa99b;   /* Sage green */
    --color-base: #1f2933;      /* Texto oscuro suave */
    --color-border: #e2e6e3;    /* Gris cálido */
    --color-bg: #fdfefe;        /* Blanco suave */

    /* Fuentes (se quedan) */
    --font-sans-serif: 'League Spartan', 'Trebuchet MS', sans-serif;
    --font-serif: 'EB Garamond', Georgia, serif;
}


[data-theme='dark'] {
    --color-primary: #3498db;
    --color-base: #f3f4f6;
    --color-border: #374151;
    --color-bg: #0f172a;         /* Azul marino muy oscuro para modo oscuro */
}